.Rproj.user
.Rhistory
.RData
.DS_Store

# Vignette
*.synctex.gz
vignettes/jsslogo.jpg
*.bbl
*.log
*.aux
*.out
*.blg
vignettes/simPH_vignette-concordance.tex
vignettes/simPH_vignette.pdf
vignettes/simPH_vignette.tex
vignettes/figure
