export(coxsimInteract)
export(coxsimLinear)
export(coxsimPoly)
export(coxsimSpline)
export(coxsimtvc)
export(ggfitStrata)
export(gginteract)
export(gglinear)
export(ggpoly)
export(ggspline)
export(ggtvc)
export(tvc)
import(car)
import(data.table)
import(ggplot2)
import(gridExtra)
import(plyr)
import(reshape2)
import(stringr)
import(survival)
importFrom(MSBVAR,rmultnorm)
